# Ignore everything
*

!.gitignore

# Documentation
!README.md

# Devcontainer setup
!.devcontainer/
!.devcontainer/Dockerfile
!.devcontainer/devcontainer.json

# Deployment files
!.kamal/
!.kamal/secrets
!.kamal/hooks/
!.kamal/hooks/docker-setup
!config/
!config/*.yml

# Application
!vote/
!vote/Dockerfile
!vote/*.py
!vote/requirements.txt
!vote/config/
!vote/config/*.yml

# Terraform
!terraform/
!terraform/*.tf
!terraform/*.tftpl
