# Ignore everything
*

!.gitignore

# Documentation
!README.md

# Devcontainer setup
!.devcontainer/
!.devcontainer/Dockerfile
!.devcontainer/devcontainer.json

# Deployment files
!.kamal/
!.kamal/secrets
!.kamal/hooks/
!.kamal/hooks/docker-setup
!config/
!config/*.yml

# Applications
!vote/
!vote/Dockerfile
!vote/*.py
!vote/requirements.txt

!vote-ui/
!vote-ui/Dockerfile
!vote-ui/content/
!vote-ui/content/*.js
!vote-ui/content/*.css
!vote-ui/images/
!vote-ui/images/*.png
!vote-ui/*.html
!vote-ui/*.js
!vote-ui/*.conf
!vote-ui/*.conf.tmpl
!vote-ui/*.ico

# Terraform
!terraform/
!terraform/*.tf
!terraform/*.tftpl
