# Ignore everything
*

!.gitignore

# Devcontainer setup
!.devcontainer/
!.devcontainer/*

# Our application
!Dockerfile
!.dockerignore
!server/
!server/go.mod
!server/go.sum
!server/*.go

# Deployment files
!.kamal/
!.kamal/*
!.kamal/hooks/
!.kamal/hooks/*
!config/
!config/*
