export DB_SERVER="${db_instance.public_ip_address}"
export WEB_SERVERS="${web_instances_ips}"
export WEB_NLB="${web_nlb.ip_address}"
export PRIVATE_SSH_KEY="${ssh_key.private_key_pem}"
export GHCRIO_TOKEN="${ghcrio_token}"