server {
    listen *:80;

    root /usr/share/nginx/html;

    location /api {

        proxy_set_header Host vote;
        proxy_pass http://kamal-proxy:80/;
    }

    location /healthz/ {
        return 200 'OK!';
    }
}